{% extends 'layouts/index.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    {% if user.is_staff == 1 and user.groups.all.0.name == "admin" or user.role == 'admin' or user.role == 'administrator' %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12"><br>
            {% include "components/validation_alert.html" %}
            <div class="card">
                <div class="card-header bg-info text-white"><b>PROJECTS CATEGORIES </b><a
                        class="btn  btn-sm btn-dark" href="{% url 'project_category_create' %}"><i class="fas fa-plus-circle"></i> Add New</a>
                </div>

                <div class="card-body">
                    
                        <div class="row">    

                            <div class="col-md-6">
                                <div class="form-group">
                                        <form method="get" action="{% url 'search_projectCategory' %}">
                                        <input class="form-control" type="text" name="search" id="id_q" placeholder="Type text here" required />

                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm0 btn-secondary"><i class="fas fa-search"></i>
                                        Search</button>
                                    <a class="btn btn-sm0 btn-danger" href="{% url 'project_category_index' %}" title=""><i class="fa fa-times"></i> </a>
                                </form>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead class="table-info">
                                <tr>
                                    <th width="5%">ID</th>
                                    <th width="50%">Category Name</th>

                                    <th width="10%">Created At</th>
                                    <th width="10%" align="right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in page_obj %}
                                <tr>

                                    <td>{{ row.id}}</td>
                                    <td>
                                        {{ row.name }}
                                    </td>
                                    <td class="date">
                                        <div class="medium">{{row.created_at|date:"D d M Y" }}
                                            <div class="small"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{% url 'category_show' row.id %}"
                                            title="View"> <i class="fas fa-eye fa-lg text-dark">&nbsp;</i></a>

                                        <a href="{% url 'category_update' row.id %}" title="Edit"> <i
                                                class="fas fa-edit text-dark fa-lg " aria-hidden="true">&nbsp;</i></a>

                                        <form method="post" action="{% url 'category_delete' row.id %}" style="display: inline;"><button class="float-right btn-sm-0 btn-danger" type="submit" title="Remove" onclick="return confirm('Are you sure want to delete?')"><i class="fas fa-md fa-trash"></i></button>
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" style="text-align: center">No record to show</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            {% include 'components/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'components/forbidden.html' %}
    
    {% endif %}
    {% else %}
    {% include 'components/401.html' %}
    {% endif %}
{% endblock %}