{% extends 'layouts/hr_layout.html' %}
{% block content %}
{% load static %}
    {% if user.is_authenticated %}
    {% if user.is_staff == 1 and user.groups.all.0.name == 'administrator' or user.role == 'administrator' or user.role == 'hr' or user.role == 'hr_admin' or user.role == 'user' or user.role == 'tl' or user.role == 'qa' %}

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-info text-white " style="border-radius: 0;"><b> <span class="text-dark"> Reset Password Form</span> # {{form.instance.first_name}} {{form.instance.last_name}}</b>
        
                            <a class="btn btn-sm btn-danger float-right" href="/"> Back</a>
                        </div>
                       
                        <div class="card-body text-left">
                            <form action="{% url 'hr_employee_reset_password' form.instance.id %}" method="POST">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ field.help_text }}
                            
                            {{ form|crispy }} 
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-sm0 btn-secondary" name="Update">Reset Password</button>
                        
                                <a class="btn btn-sm0 btn-danger" href="/" title="">Cancel </a>
                        
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% include 'components/forbidden.html' %}
         
         {% endif %}
         {% else %}
         {% include 'components/401.html' %}
         {% endif %}
{% endblock %}