{% extends 'layouts/index.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    {% if user.is_staff == 1 and user.groups.all.0.name == "admin" or user.role == 'admin' or user.role == 'administrator' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
           
            <div class="card">
                <div class="card-header bg-info text-white"><b>Update PreTasks</b>
                    <a class="btn btn-sm btn-danger float-right" href="{% url 'pretasks_index' %}"> Back</a>
                </div>
                <div class="card-body">
                    <form action="{% url 'pretask_update' form.instance.id %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% include 'admin/pre_tasks/_form.html' %}
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-sm0 btn-secondary" name="Search">Update</button>
                
                        <a class="btn btn-sm0 btn-danger" href="{% url 'pretasks_index' %}" title="">Cancel </a>
                
                    </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'components/forbidden.html' %}
    {% endif %}
    {% else %}
    {% include 'components/401.html' %}
    {% endif %}
{% endblock %}