{% extends 'layouts/hr_layout.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    {% if user.role == 'administrator' or user.role == 'hr' or user.role == 'hr_admin' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
           
            <div class="card">
                <div class="card-header bg-info text-white" style="border-radius: 0;"><b>Update Leaves Type</b>
                    <a class="btn btn-sm btn-danger float-right" href="{% url 'hr_leaves_type_index' %}"> Back</a>
                </div>
                <div class="card-body">
                    <form action="{% url 'hr_leaves_type_update' form.instance.id %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% include 'hrs/leave_types/_form.html' %}
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-sm0 btn-secondary" name="Search">Update</button>
                
                        <a class="btn btn-sm0 btn-danger" href="{% url 'hr_leaves_type_index' %}" title="">Cancel </a>
                
                    </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'components/forbidden.html' %}
    {% endif %}
    {% else %}
    {% include 'components/401.html' %}
    {% endif %}
{% endblock %}